/* Insert css styling for header and banners and other shared styling */

.navPic {
    width: 20%;
    height: auto;
    /* margin: auto auto; */
    min-width: 40px;
    /* margin-left: 1vw; */
}

.centeredBotNav{
    width: 50px;
}

body {
    background-color: #90E0EF;
}

.gridNavContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items:  center;
    justify-items: center;
    margin: auto;
}

.gridNavContainer > a {
    display: flex;
    text-align: center;
}